let mapleader=" "

""" Plugins  --------------------------------
set surround
set which-key
set easymotion
set mini-ai
set notimeout
set NERDTree

" --- Enable IdeaVim plugins https://jb.gg/ideavim-plugins
Plug 'machakann/vim-highlightedyank'

""" Plugin settings -------------------------
let g:argtextobj_pairs="[:],(:),<:>"
let g:NERDTreeMapCloseDir="h"
let g:NERDTreeMapActivateNode="l"

" <C-n> seems to me as a better solution than <M-n>,
" but we should finally support vim-visual-multi because vim-multiple-cursors is deprecated now
map <C-n> <Plug>NextWholeOccurrence

""" Common settings -------------------------
set showmode
set so=5
set incsearch
set number
set relativenumber
set ignorecase
set clipboard=none

""" Idea specific settings ------------------
set ideajoin

"" -- Map IDE actions to IdeaVim -- https://jb.gg/abva4t
nmap <enter> <Plug>(easymotion-s)
vmap <enter> <Plug>(easymotion-s)

"" use 'Track Action Id' to set action

map gk <Action>(QuickJavaDoc)
map gc <Action>(CommentByLineComment)

nmap <Leader>nr :source ~/.ideavimrc<CR>:echo "IdeaVim reloaded!"<CR>

map <leader>dfr <Action>(Flutter.Toolbar.ReloadAction)
map <leader>dfd <Action>(Debug)
map <leader>dfs <Action>(Stop)
map <leader>y "+y
map <leader>zc <Action>(ToggleDistractionFreeMode)

map <leader>cr <Action>(RenameElement)
map <leader>cem <Action>(ExtractMethod)
map <leader>cew <Action>(Flutter.ExtractWidget)
map <leader>cev <Action>(IntroduceVariable)

" buffer delete
map <leader>bd :q <CR>
map <leader>bo <Action>(CloseAllEditorsButActive)

map - <Action>(SelectInProjectView)
map <leader><Space> <Action>(GotoFile)
map <leader>, <Action>(RecentFiles)
map <leader>cf <Action>(ReformatCode)
map <leader>ca <Action>(ShowIntentionActions)
map <leader>sa <Action>(GotoAction)
map <leader>sg <Action>(FindInPath)
map <leader>ds <Action>(FileStructurePopup)
map <leader>du <Action>(ActivateDebugToolWindow)
map <leader>se <Action>(SearchEverywhere)
map <leader>gf <Action>(Vcs.ShowTabbedFileHistory)
map <leader>xx <Action>(ActivateDartAnalysisToolWindow)
map <leader>uz <Action>(ToggleZenMode)
map [e <Action>(GotoPreviousError)
map ]e <Action>(GotoNextError)

map <C-h> <C-w><C-h> 
map <C-l> <C-w><C-l>
map <C-j> <C-w><C-j>
map <C-k> <C-w><C-k>

" Map Tab to switch to the next tab in normal mode
nnoremap <S-l> :tabnext<CR>
nnoremap <S-h> :tabprev<CR>

" Move line up/down
vmap <S-J> <Action>(MoveStatementDown)
vmap <S-K> <Action>(MoveStatementUp)

" Reformat the current line only
map <leader>l V<Action>(ReformatCode)

map <leader>db <Action>(ToggleLineBreakpoint)
map <leader>dc <Action>(Resume)
map <leader>or <Action>(OverrideMethods)

" Don't use Ex mode, use Q for formatting.
map Q gq

" Just makes me nervous
" map H h

nmap s :<CR>

" From GUI settings
sethandler <C-2> a:ide
sethandler <C-S-2> a:ide
sethandler <C-6> a:ide
sethandler <C-S-6> a:ide
sethandler <C-A> a:ide
sethandler <C-B> a:vim
sethandler <C-C> a:ide
sethandler <C-D> a:vim
sethandler <C-E> a:ide
sethandler <C-F> a:ide
sethandler <C-G> a:ide
sethandler <C-H> a:vim
sethandler <C-I> a:ide
sethandler <C-J> a:ide
sethandler <C-K> a:ide
sethandler <C-L> a:vim
sethandler <C-N> a:vim
sethandler <A-N> a:ide
sethandler <C-O> a:vim
sethandler <C-Q> a:ide
sethandler <C-R> a:vim
sethandler <C-T> a:vim
sethandler <C-U> a:vim
sethandler <C-V> a:vim
sethandler <C-W> a:vim
sethandler <C-X> a:ide
sethandler <C-\> a:ideset

clipboard^=ideaput