#browser.linux:not(.native).address-top .toolbar:has(.window-buttongroup.on-mainbar) {
    min-height: 0px;
}

/*  windows config  */
#browser.win.address-top .toolbar:has(.window-buttongroup.on-mainbar) {
    min-height: 0px;
}
.disable-titlebar#browser.win .window-buttongroup {
    height: 34px;
}
/* END windows config  */

/* center address */
.UrlFragment-Wrapper--ShouldHighlight {
    width: 100%;
    text-align: center;
}

/* domain only */
/*
.UrlFragment-Wrapper > .UrlFragment--Lowlight,
.UrlFragment-Wrapper > .UrlFragment-LinkWrapper > .UrlFragment--Lowlight {
    display: none;
}
*/


/* --- stolen from https://github.com/tovifun/VivalArc/issues/21#issuecomment-2408496416 --- */
:root{
    --tabbar-size: 32px;
}

/* tabbar workspace */
.inner > .tabbar-wrapper:not(:hover) .button-toolbar.workspace-popup.tabbar-workspace-button.button-menu{
    width: var(--tabbar-size)!important;
    transition: unset;
}

.inner > .tabbar-wrapper:not(:hover) .button-toolbar.workspace-popup.tabbar-workspace-button.button-menu .button-title,
.inner > .tabbar-wrapper:not(:hover) .button-toolbar.workspace-popup.tabbar-workspace-button.button-menu .button-toolbar-menu-indicator{
    display: none;
}

.inner .button-toolbar.workspace-popup.tabbar-workspace-button.button-menu .button-icon{
    position: absolute;
    left: 5px;
}

.inner .button-toolbar.workspace-popup.tabbar-workspace-button.button-menu .button-title{
    position: absolute;
    left: var(--tabbar-size);
}

.inner .button-toolbar.workspace-popup.tabbar-workspace-button.button-menu .button-toolbar-menu-indicator{
    position: absolute;
    right: 5px;
}

/* tabbar container */
.inner > .tabbar-wrapper:not(:hover) #tabs-tabbar-container,
.inner > .tabbar-wrapper:not(:hover) #tabs-tabbar-container .resize{
    width: var(--tabbar-size)!important;
    transition: width 300ms ease-out 0ms;
}

/* tab stacking - accordion toggle arrow position */
#tabs-container.left .tab-position.accordion-toggle-arrow{
    --PositionX: 4px!important;
}

.inner > .tabbar-wrapper{
    position: relative;
    width: var(--tabbar-size);
}

.inner > .tabbar-wrapper > .tabbar-wrapper{
    position: absolute;
    /*background-image: url("chrome://vivaldi-data/thumbnail/WVKXPHMBICN2BPZCJFRT6B4RYYRCN6JS.png");*/
    /*background-size: cover;*/
    overflow: hidden;
    z-index: 1;
}

.inner #tabs-tabbar-container,
.inner .button-toolbar.workspace-popup.tabbar-workspace-button.button-menu {
    transition: width 300ms ease-out 0ms;
}

/* --- END stolen from VivalArc --- */

