POSTGRES_DB=development
POSTGRES_USER=developer
POSTGRES_PASSWORD=replace_with_a_local_development_password
POSTGRES_PORT=5432

REDIS_PASSWORD=replace_with_a_local_development_password
REDIS_PORT=6379
